<form action="/add" method="POST">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>telefone:</p>
    <input type="number" name="telefone">
    <p>Veículo:</p>
    <input type="text" name="veiculo">
    <p>Placa:</p>
    <input type="text" name="placa">
    <button type="submit">Cadastrar</button>
</form>