<form action="/addFuncionario" method="POST">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>CPF:</p>
    <input type="number" name="cpf">
    <p>Telefone:</p>
    <input type="text" name="telefone">
    <button type="submit">Cadastrar</button>
</form>