<h1>Página inicial</h1>
<div>
<button>
    <!--o nome da url desejada tem que estar igual da rota em index-->
    <a href="/cadastrarCliente">Cadastro de Clientes</a>
</button>
<button>
    <a href="/cadastrarFuncionario">Cadastro de Funcionário</a>
</button>
<h2>Lista de Clientes</h2>
<div>
    <table border="2">
        <thead>
            <tr bgcolor="Wheat">
            <!--tr define a linha de celulas numa tabela-->
            <th>Nome</th>
            <th>Telefone</th>
            <th>Veículo</th>
            <th>Placa</th>
            <!--usar th como cabeçalho do grupo de celulas de dados-->
            </tr>
            {{#each clientes}}
                <tr bgcolor="Beige">
                    <td align="center">{{dataValues.nome}}</th>
                    <td align="center">{{dataValues.telefone}}</td>
                    <td align="center">{{dataValues.veiculo}}</td>
                    <td align="center">{{dataValues.placa}}</td>
                    <td><button>excluir</button></td>
                    <!--usar td para as celulas com dados-->
                </tr>
            {{/each}}
        </thead>
    </table>
</div>