<h1>Página inicial</h1>
<div>
<button>
    <!--o nome da url desejada tem que estar igual da rota em index-->
    <a href="/cadastrarCliente">Cadastro de Clientes</a>
</button>
<button>
    <a href="/cadastrarFuncionario">Cadastro de Funcionário</a>
</button>
<button>
    <a href="/cadastrarParceiro">Cadastro de Parceiro</a>
</button>
</div>